@page "/Dashboard"
@rendermode InteractiveAuto
@* @rendermode InteractiveWebAssembly  *@
@* @rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false)) *@
<h1>Dashboard</h1>

<PageTitle>@Title</PageTitle>
<div>
    <a href="machineAdd" class="btn btn-outline-primary btn-sm mb-1">New Device </a>
</div>

@if (Machines == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-light">
        <thead class="table-primary">
        <tr>
            <th>DeviceId</th>
            <th>Location</th>
            <th>Type</th>
            <th>Date</th>
            <th>Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var machine in Machines)
        {
            <tr>
                <td>
                    <span class="h5">
                        <strong>@machine.Id</strong>
                    </span>
                </td>
                <td>
                    <span class="h5">
                        <strong>@machine.Location.CityName</strong>
                    </span>
                    <br/>
                    <span class="h6">@machine.Location.CountryFlag</span>
                    <span class="h6">@machine.Location.CountryName</span>
                </td>
                <td>
                    <span class="h5">
                        <strong>@machine.MachineType.Name</strong>
                    </span>
                    <br/>
                    <span>@machine.MachineType.Description</span>
                </td>
                <td>
                    <span>@machine.UpdatedAt.ToString("yyyy-MM-dd")</span>
                    <br/>
                    <span>Last Updated</span>
                </td>
                <td>
                    @if (machine.IsRunning)
                    {
                        <div type="button" class="btn btn-outline-success">Online</div>
                    }
                    else
                    {
                        <div type="button" class="btn btn-outline-danger">Offline</div>
                    }
                </td>
                <td>
                    <a href="@($"machineEdit/{machine.Id}")" class="btn btn-outline-primary btn-sm mb-1">
                        Edit </a>
                    <a href="@($"machineDelete/{machine.Id}")" class="btn btn-outline-primary btn-sm mb-1">
                        Delete </a>
                </td>

            </tr>
        }

        </tbody>
    </table>
}