@page "/MachineAdd"

<h3>MachineAdd</h3>

@rendermode InteractiveServer


@if (!IsSubmitted)
{
	// Utan enhance så gör formen en full-page refresh.
	// med den tillagd så interceptar blazor request och gör en fetch istället
	// responsen patchas till DOM:en igen och gör appen mer responsiv och state förloras inte
	<EditForm Model="Machine" method="post" Enhance OnSubmit="OnSubmit" FormName="add-machine-form">
		@* <AntiforgeryToken/> *@


		<div class="row mb-3">
			<label for="machineType" class="col-form-label col-md-3">Select Machine Type: </label>
			<div class="col-md-8">
				<InputSelect id="machineType" class="form-control" @bind-Value="Machine.MachineTypeId">
					<option value="">Select a machine type</option>
					@foreach (var machineType in MachineTypes)
					{
						<option value="@machineType.Id">@machineType.Name</option>
					}
				</InputSelect>
			</div>
		</div>

		<div class="row mb-3">
			<label for="city" class="col-form-label col-md-3">Select City: </label>
			<div class="col-md-8">
				<InputSelect id="city" class="form-control" @bind-Value="Machine.CityId">
					<option value="">Select a city</option>
					@foreach (var city in Cities)
					{
						<option value="@city.Id">@city.Name <span>(<em>@city.Country.Name</em>)</span></option>
					}
				</InputSelect>
			</div>
		</div>

		<div class="row mb-3">
			<label for="longitude" class="col-form-label col-md-3">Longitude: </label>
			<div class="col-md-8">
				<InputNumber id="longitude" class="form-control col-md-8" @bind-Value="@Machine.Longitude"
							 placeholder="Enter Longitude"
							 step="0.0001"
							 min="-180"
							 max="180" />
			</div>
		</div>

		<div class="row mb-3">
			<label for="latitude" class="col-form-label col-md-3">Latitude: </label>
			<div class="col-md-8">
				<InputNumber id="latitude" class="form-control col-md-8" @bind-Value="@Machine.Latitude"
							 placeholder="Enter Latitude"
							 step="0.0001"
							 min="-90"
							 max="90" />
			</div>
		</div>




		<div>
			<button type="submit" class="btn btn-outline-primary ms-1">Submit</button>
		</div>

	</EditForm>
}
else
{
	<h4 class="text-success">@Message</h4>
}